.hn-comment {
    border-bottom: 1px solid rgba(239,239,239,.8);
    padding: 1rem 0;
}

.hn-commentlist .hn-commentlist {
    margin-left: .5rem;
}

.hn-commentlist p {
    margin-bottom: .8rem;
    word-break: break-word;
}

.hn-commentthread {
    padding: .4rem;
}
